@model string

@{
    ViewData["Title"] = "Error";
    Layout = "~/Views/Shared/_LayoutAuth.cshtml";
}

<div class="alert alert-danger mt-5">
    <h4 class="alert-heading">Error</h4>
    <p>@Model</p>
</div>